<h2>Create New Patient</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    Given Name:
    <input formControlName="given" />
  </label><br />
  <label>
    Family Name:
    <input formControlName="family" />
  </label><br />
  <label>
    Gender:
    <select formControlName="gender">
      <option value="">—</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
      <option value="unknown">Unknown</option>
    </select>
  </label><br />
  <label>
    Birth Date:
    <input type="date" formControlName="birthDate" />
  </label><br />
  <button type="submit">Create</button>
</form>
